main {
  position: relative;
  top: 0;
}

.section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  &-first {
    background-image: url(../img/bg1.jpg);
    background-color: #00131C;
  } 
  &-last {
    background-image: url(../img/bg2.jpg);
    background-color: #0D0B0F;
  }
  @include media-breakpoint-down(lg) {background-attachment: unset;}

  &-content {
    height: 100%;
    transition: .5s;
    &.opacity {opacity: 0;}
  }
}

.section-first {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      padding-top: 120px;
    }
    @include media-breakpoint-down(xs) {padding-top: 16vh;}
  }
  .kid {
    width: 430px;
    position: absolute;
    right: 0; bottom: 0;
    @include media-breakpoint-down(md) {width: 300px;}
    @include media-breakpoint-down(xs) {
      width: auto;
      max-height: 35%;
    }
  }
  .text {
    font-weight: 300;
    font-size: 17px; line-height: 150%;
    margin-bottom: 70px;
    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-down(xs) {margin-bottom: 30px;}
  }
  .buttons {
    display: flex;
    @include media-breakpoint-down(xs) {
      width: 100%;
      justify-content: space-between;
      & > div {
        margin: 0;
        font-size: 14px;
        padding: 0 10px;
        width: calc(50% - 5px);
      }
    }
  }
  .btn-ticket {margin-right: 24px;}
}

.section-last {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 130px;
    @include media-breakpoint-down(xs) {padding-top: 18vh;}
  }

  .btn-scroll {
    transform: rotate(180deg);
  }

  h2 {
    position: relative;
    &:after {
      content: '';
      width: 100%; height: 3px;
      position: absolute;
      left: 0; bottom: -10px;
      background: $green1;
    }
  }
}