$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

// Fonts
$font: "Ubuntu", sans-serif;

// Colors
$gray: #DDDDDD;
$gray1: #E0E0E0;
$green: #15B38D;
$green1: #0DD1A2;

// Shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);